/*All Pages Functionality*/
body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    -ms-overflow-style: none;
    padding-top: 15px;
    background-color: #000000;
}

.green-text{
    color: #2ec4b6;
}

/* Header Elements */

.entire-header{
    display: flex;
    position: fixed;
    transition: transform 0.5s;
}

.entire-header--hidden {
  transform: translateY(-100px);
}

.main-header-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50px;
    width: 80vw;
    margin-left: 3vw;
    height: 9vh;
    padding: 0 1rem;
}

.header-bar {
    color: #fff;
    font-family: "Poppins", sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    border: rgba(255, 255, 255, 0) 1px solid;
    border-radius: 50px;
    width: 10vw;
    margin-left: 0.5vw;
    height: 9vh;
    display: flex;
    text-decoration: none;
}

.button{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: transform 0.2s;
    display: inline-block;
    margin: 1vw;
}

.contact-button{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: transform 0.2s;
    display: inline-block;
    padding-left: 1vw;
    padding-top: 0.5vw;
}

.fa-arrow-right{
    padding-top: 1.75vw;
}

.button:hover{
    transform: scale(1.1)
}

.logo{
    margin-right: 5vw;
}

.main-header-bar form {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 30px;
    height: 40px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 0 5px;
    transition: width 0.5s ease;
    overflow: hidden;
}

.main-header-bar form input {
    flex: 1;
    display: none;
    border: none;
    outline: none;
    font-size: 1em;
    border-radius: 20px;
}

.main-header-bar form:hover {
    width: 275px;
    cursor: pointer;
}

.main-header-bar form:hover input {
    margin-left: 10px;
    display: block;
}

.main-header-bar form i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0vw;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    color: #;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.main-header-bar form:hover i {
    background: none;
    color: none;
    left: 5000px;
    color: #fff;
}

/*Contact Us Page*/

h1,h2,h3,h4,p{
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0;
}

.content{
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.70);
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    color: white;
    position: relative;
    overflow: hidden;
}

.video-bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.page-explore-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    padding-top: 6vw;
}

.big-text{
    max-width: 40vw;
}

.more-btn{
    transition: transform 0.3s ease;
}

.more-btn:hover{
    transform: translateY(clamp(-4px, -0.5vh, -5px));
}
